.topnav {
    overflow: hidden;
    background-color: #232324;
    
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.active {
    background-color: #232324;
    color: #FF8C08;
}

.search {
    margin-top: 1em;
    border-radius: 25px;
}

.audio {
    color: grey;
}