.displaymusic {
    text-align: left;
    color: white;
    background-color: #232324;
}

.song {
    color: #FF8C08;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }